<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">

<h1>About Us</h1>
<p>Gathered from different towns all over the world with the will to level up their professional skills, the Simply Coders started to learn code together three months ago.</p>
<p>During this amazing experience, we have confronted ourselves to many challenges and shared them as a group. This opportunity decided to converge our propectives to offer a new breath to web development, as your professional team.</p>

</div>
