<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">

<h1>Work with us</h1>
<hr>
<p><%= number_to_phone " 42 42 42 42 42" %></p>

<p><%= " Email : contact@simplycoders.com " %></p>

<p><%= " Office Adress : 5 rue Thomas Mann 75013 PARIS " %></p>


<p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2626.468881550439!2d2.3793984154716505!3d48.830194410645866!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e6723c04b7a7f7%3A0x1dc255898c34cdef!2sBiblioth%C3%A8que+des+Grands+Moulins!5e0!3m2!1sfr!2sfr!4v1523241983721" width="350" height="200" frameborder="0" style="border:0" allowfullscreen></p>

</div>
